<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DKEY_new.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DKEY_new.Properties.Settings>
            <setting name="com1" serializeAs="String">
                <value>COM100</value>
            </setting>
            <setting name="com2" serializeAs="String">
                <value>COM102</value>
            </setting>
            <setting name="com3" serializeAs="String">
                <value>COM104</value>
            </setting>
            <setting name="com4" serializeAs="String">
                <value>COM106</value>
            </setting>
            <setting name="com5" serializeAs="String">
                <value>COM108</value>
            </setting>
        </DKEY_new.Properties.Settings>
    </userSettings>
</configuration>