<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="aseConnectionString" connectionString="Data Source=147.228.90.71;Initial Catalog=ase;Persist Security Info=True;User ID=ase;Password=ase"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/> <!-- Debug true = uvidim tu chybu kdyz zadam spatne cisla atd... -->
  </system.web>
</configuration>