<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="klientWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <klientWS.Properties.Settings>
            <setting name="klientWS_mojesluzba_WebService" serializeAs="String">
                <value>http://localhost:52718/Sluzba.asmx</value>
            </setting>
            <setting name="klientWS_WebReference_data_ws" serializeAs="String">
                <value>http://147.228.90.71/data_ws.asmx</value>
            </setting>
        </klientWS.Properties.Settings>
    </applicationSettings>
</configuration>