<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alba.CsConsoleFormat" version="1.0.0" targetFramework="net461" />
  <package id="Alba.CsConsoleFormat.ColorfulConsole" version="1.0.0" targetFramework="net461" />
  <package id="Colorful.Console" version="1.2.9" targetFramework="net461" />
</packages>